.container{
    border: 0.5px;
    border-style:solid;
    border-color: black;   
}
#button-holder{
    background-color:#f1f1f1;
    border-top: thin solid #e5e5e5;
    box-shadow: 1px #e5e5e5;
    cursor:pointer;
    float: left;
    height:32px;
    margin:12px 0 0 0;
    text-align: center;
    width: 50px;
}
#search-text-input{
    border-top: thin solid #e5e5e5;
    border-right: thin solid #e5e5e5;
    border-bottom: 0px;
    border-left: thin solid #e5e5e5;
    box-shadow: 0px 1px 1px 1px #e5e5e5;
    float: left;
    height: 30px;
    margin: .8em 0 0 .5em;
    outline: 0px;
    width: 402px;
    padding: .4em 0 .4em .6em;
}
#button-holder img{
    margin: 4px;
    width: 20px;
}

.Main-content{
    background-color: rgba(176, 196, 222, 0.137);
    margin-bottom: 5px;
    margin-right: -14px;
    margin-left: -15px;
    
}

.side-content{
    display: inline-block;
}
.row-udemy{
    width: 380px;
    height: 60px;
    border-style: none;
    border-width: thin;
    background-color: rgba(139, 0, 0, 0.87);
    text-align: center;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: bolder;
    
}
.Racheal-col-sm-9{
    padding-left: 15px;
    padding-top: 10px;
}
.row-add{
    width: 350px;
    height: 50px;
    border-style: none;
    border-width: thin;

}